<b>Auto Image Caption</b>

For each channel you can set an image caption. This caption will be added to each image you send automatically.
If no caption is set then no caption will be added of course.

Restrictions:
- At the moment caption is added to the top left of the image (will adjustable in the future)
- At the moment the font of the caption is "Arial" (will adjustable in the future)
- Caption can't be added to forwarded messages
- To change the caption you must have the permission "Change Channel Info"
